#container { 
width: 1000px;
margin: auto;
background: #ffffff;
}

#header { 
padding: 45px 0 20px 40px;
color: #336611;
text-align: justify;
} 

#info {
padding: 25px 0 25px 40px;
background-image:url('colorful-retro-abstract-gradient-header-2093.jpg');
font-family: "century gothic";
font-size: 15px;
color: #ffff99;
}

#links {
padding: 5px 0 5px 50px;
background-color: #fff8dc; 
font-family: "century gothic";
font-size: 15px;
color: #fff8dc;
box-shadow: 2px 2px 5px #888;
}

#maincontent { 
margin: 0 0 0 70px;
padding: 20px 30px 20px 0;
font-family: "trebuchet ms";
font-size: 13px; 
line-height: 30px;
text-align: left;
} 

#footer {
padding: 15px 0 15px 40px;
background-image:url('colorful-retro-abstract-gradient-header-2093.jpg');
font-family: "century gothic";
font-size: 15px;
color: #ffff99;
}

h2 {
font-family: "trebuchet ms";
font-size: 25px;
color: #336611; 
}

a {
text-decoration: none;
color:#333300;
}

a:hover{
background-color: #556b2f;
}

ul {
list-style-image: url('bullet_tick.png');
}

dt {
font-weight: bold;
}

caption {
background: #336611;
margin: 0;
border: 1px dotted #333333;
border-bottom: none;
font-weight: bold;
font-family:'trebuchet ms';
color: #ffff99;
}

td, th {
border-bottom: 1px dotted #333333;
border-color: #66cc66;
text-align: left;
color: #000000;
font-family:'trebuchet ms';
}
